EpicWAS/Service References/Epicor.InvTransferSvc/InvTransfer97.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Erp:BO:InvTransfer" elementFormDefault="qualified" targetNamespace="Erp:BO:InvTransfer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://erp10/EPICOR_DEMO/Erp/BO/InvTransfer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Erp.Tablesets" />
  <xs:import schemaLocation="http://erp10/EPICOR_DEMO/Erp/BO/InvTransfer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="ChangeFromBin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipBinNum" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q1:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeFromBinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q2:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeFromWhse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipwhseCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q3:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeFromWhseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q4:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipLotNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipFromTo" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q5:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeLotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q6:InvTransferTableset" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeToBin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipToBinNum" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q7:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeToBinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q8:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeToWhse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipToWhse" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q9:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeToWhseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q10:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUOM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q11:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUOMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q12:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q13:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q14:InvTransferTableset" />
        <xs:element minOccurs="0" name="LegalNumberMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="partTranPKs" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailBins">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PartNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AllBins" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WarehouseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LotNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DimCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailBinsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BinList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewInventoryTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipSourceType" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q15:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewInventoryTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q16:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePCID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tranPCID" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q17:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePCIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q18:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTransferPartNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tranPartNum" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q19:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTransferPartNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q20:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTransferQty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proposedValue" type="xs:decimal" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q21:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTransferQtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q22:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartXRefInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uomCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SysRowID" type="q23:guid" />
        <xs:element minOccurs="0" name="rowType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartXRefInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uomCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serialWarning" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="questionString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="multipleMatch" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrimaryBin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iPartNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iWarehouseCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrimaryBinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPrimaryBinResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PrimaryBin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectSerialNumbersParams">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q24:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectSerialNumbersParamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetSelectSerialNumbersParamsResult" nillable="true" type="q25:SelectSerialNumbersParamsTableset" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q26:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransferRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iPartNum" nillable="true" type="xs:string" />
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sysRowID" type="q27:guid" />
        <xs:element minOccurs="0" name="iPCID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uomCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q28:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransferRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rowAdded" type="xs:boolean" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q29:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotSelectedInvTransferRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipPartList" nillable="true" type="xs:string" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q30:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotSelectedInvTransferRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetNotSelectedInvTransferRecordsResult" nillable="true" type="q31:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvTransferRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipPartList" nillable="true" type="xs:string" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q32:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvTransferRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetInvTransferRecordsResult" nillable="true" type="q33:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvTransferRecordsForPCID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipPCIDList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromPCIDContextSearch" type="xs:boolean" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q34:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvTransferRecordsForPCIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetInvTransferRecordsForPCIDResult" nillable="true" type="q35:InvTransferTableset" />
        <xs:element minOccurs="0" name="errorMessages" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PCIDList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreCommitTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q36:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreCommitTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q37:InvTransferTableset" />
        <xs:element minOccurs="0" name="RequiresUserInput" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateSN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q38:InvTransferTableset" />
        <xs:element minOccurs="0" name="serialNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateSNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q39:InvTransferTableset" />
        <xs:element minOccurs="0" name="isVoided" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AreSNumsAllocated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipPartNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AreSNumsAllocatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AreSNumsAllocatedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailTranDocTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailTranDocTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listAvailTranDocTypes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NegativeInventoryTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pcPartNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pcWhseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pcBinNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pcLotNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pcPCID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pcUOMCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pdTranQty" type="xs:decimal" />
        <xs:element minOccurs="0" name="pdDimConvFactor" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NegativeInventoryTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pcNeqQtyAction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pcMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MasterInventoryBinTests">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q40:InvTransferTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MasterInventoryBinTestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q41:InvTransferTableset" />
        <xs:element minOccurs="0" name="pcNeqQtyAction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pcNeqQtyMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pcFromPCBinAction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pcFromPCBinMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pcToPCBinAction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pcToPCBinMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartFromRowID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipRowType" nillable="true" type="xs:string" />
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ipRowID" type="q42:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartFromRowIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opPartNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opUOM" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>