compile/Service References/Epicor.UD25Svc/UD25.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Ice:BO:UD25" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Ice:BO:UD25" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Ice:BO:UD25/Imports">
      <xsd:import schemaLocation="http://bpocloudapp01.bpocloud.local/EpicorDemo/Ice/BO/UD25.svc?xsd=xsd0" namespace="Ice:BO:UD25" />
      <xsd:import schemaLocation="http://bpocloudapp01.bpocloud.local/EpicorDemo/Ice/BO/UD25.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Ice.Common" />
      <xsd:import schemaLocation="http://bpocloudapp01.bpocloud.local/EpicorDemo/Ice/BO/UD25.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://bpocloudapp01.bpocloud.local/EpicorDemo/Ice/BO/UD25.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ice.Tablesets" />
      <xsd:import schemaLocation="http://bpocloudapp01.bpocloud.local/EpicorDemo/Ice/BO/UD25.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ice" />
      <xsd:import schemaLocation="http://bpocloudapp01.bpocloud.local/EpicorDemo/Ice/BO/UD25.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Ice.Extensions" />
      <xsd:import schemaLocation="http://bpocloudapp01.bpocloud.local/EpicorDemo/Ice/BO/UD25.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Epicor.Data" />
      <xsd:import schemaLocation="http://bpocloudapp01.bpocloud.local/EpicorDemo/Ice/BO/UD25.svc?xsd=xsd6" namespace="http://epicor.com/UserDefinedColumns" />
      <xsd:import schemaLocation="http://bpocloudapp01.bpocloud.local/EpicorDemo/Ice/BO/UD25.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UD25SvcContract_GetaNewUD25_InputMessage">
    <wsdl:part name="parameters" element="tns:GetaNewUD25" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_GetaNewUD25_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetaNewUD25Response" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_GetaNewUD25_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q1:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_GetNewUD25_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewUD25" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_GetNewUD25_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewUD25Response" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_GetNewUD25_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q2:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_GetNewUD25Attch_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewUD25Attch" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_GetNewUD25Attch_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewUD25AttchResponse" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_GetNewUD25Attch_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q3:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_DeleteByID_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByID" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_DeleteByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByIDResponse" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_DeleteByID_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q4:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_GetByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByID" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_GetByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIDResponse" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_GetByID_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q5:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_GetList_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q6:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_GetRows_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRows" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_GetRows_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRowsResponse" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_GetRows_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q7:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_GetBySysRowID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBySysRowID" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_GetBySysRowID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBySysRowIDResponse" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_GetBySysRowID_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q8:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_GetBySysRowIDs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBySysRowIDs" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_GetBySysRowIDs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBySysRowIDsResponse" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_GetBySysRowIDs_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q9:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_Update_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q10:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_UpdateExt_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExt" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_UpdateExt_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExtResponse" />
  </wsdl:message>
  <wsdl:message name="UD25SvcContract_UpdateExt_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q11:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:portType name="UD25SvcContract">
    <wsdl:operation name="GetaNewUD25">
      <wsdl:input wsaw:Action="Ice:BO:UD25/UD25SvcContract/GetaNewUD25" message="tns:UD25SvcContract_GetaNewUD25_InputMessage" />
      <wsdl:output wsaw:Action="Ice:BO:UD25/UD25SvcContract/GetaNewUD25Response" message="tns:UD25SvcContract_GetaNewUD25_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:BO:UD25/UD25SvcContract/GetaNewUD25EpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:UD25SvcContract_GetaNewUD25_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewUD25">
      <wsdl:input wsaw:Action="Ice:BO:UD25/UD25SvcContract/GetNewUD25" message="tns:UD25SvcContract_GetNewUD25_InputMessage" />
      <wsdl:output wsaw:Action="Ice:BO:UD25/UD25SvcContract/GetNewUD25Response" message="tns:UD25SvcContract_GetNewUD25_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:BO:UD25/UD25SvcContract/GetNewUD25EpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:UD25SvcContract_GetNewUD25_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewUD25Attch">
      <wsdl:input wsaw:Action="Ice:BO:UD25/UD25SvcContract/GetNewUD25Attch" message="tns:UD25SvcContract_GetNewUD25Attch_InputMessage" />
      <wsdl:output wsaw:Action="Ice:BO:UD25/UD25SvcContract/GetNewUD25AttchResponse" message="tns:UD25SvcContract_GetNewUD25Attch_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:BO:UD25/UD25SvcContract/GetNewUD25AttchEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:UD25SvcContract_GetNewUD25Attch_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByID">
      <wsdl:input wsaw:Action="Ice:BO:UD25/UD25SvcContract/DeleteByID" message="tns:UD25SvcContract_DeleteByID_InputMessage" />
      <wsdl:output wsaw:Action="Ice:BO:UD25/UD25SvcContract/DeleteByIDResponse" message="tns:UD25SvcContract_DeleteByID_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:BO:UD25/UD25SvcContract/DeleteByIDEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:UD25SvcContract_DeleteByID_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByID">
      <wsdl:input wsaw:Action="Ice:BO:UD25/UD25SvcContract/GetByID" message="tns:UD25SvcContract_GetByID_InputMessage" />
      <wsdl:output wsaw:Action="Ice:BO:UD25/UD25SvcContract/GetByIDResponse" message="tns:UD25SvcContract_GetByID_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:BO:UD25/UD25SvcContract/GetByIDEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:UD25SvcContract_GetByID_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="Ice:BO:UD25/UD25SvcContract/GetList" message="tns:UD25SvcContract_GetList_InputMessage" />
      <wsdl:output wsaw:Action="Ice:BO:UD25/UD25SvcContract/GetListResponse" message="tns:UD25SvcContract_GetList_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:BO:UD25/UD25SvcContract/GetListEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:UD25SvcContract_GetList_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRows">
      <wsdl:input wsaw:Action="Ice:BO:UD25/UD25SvcContract/GetRows" message="tns:UD25SvcContract_GetRows_InputMessage" />
      <wsdl:output wsaw:Action="Ice:BO:UD25/UD25SvcContract/GetRowsResponse" message="tns:UD25SvcContract_GetRows_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:BO:UD25/UD25SvcContract/GetRowsEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:UD25SvcContract_GetRows_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBySysRowID">
      <wsdl:input wsaw:Action="Ice:BO:UD25/UD25SvcContract/GetBySysRowID" message="tns:UD25SvcContract_GetBySysRowID_InputMessage" />
      <wsdl:output wsaw:Action="Ice:BO:UD25/UD25SvcContract/GetBySysRowIDResponse" message="tns:UD25SvcContract_GetBySysRowID_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:BO:UD25/UD25SvcContract/GetBySysRowIDEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:UD25SvcContract_GetBySysRowID_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBySysRowIDs">
      <wsdl:input wsaw:Action="Ice:BO:UD25/UD25SvcContract/GetBySysRowIDs" message="tns:UD25SvcContract_GetBySysRowIDs_InputMessage" />
      <wsdl:output wsaw:Action="Ice:BO:UD25/UD25SvcContract/GetBySysRowIDsResponse" message="tns:UD25SvcContract_GetBySysRowIDs_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:BO:UD25/UD25SvcContract/GetBySysRowIDsEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:UD25SvcContract_GetBySysRowIDs_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="Ice:BO:UD25/UD25SvcContract/Update" message="tns:UD25SvcContract_Update_InputMessage" />
      <wsdl:output wsaw:Action="Ice:BO:UD25/UD25SvcContract/UpdateResponse" message="tns:UD25SvcContract_Update_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:BO:UD25/UD25SvcContract/UpdateEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:UD25SvcContract_Update_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExt">
      <wsdl:input wsaw:Action="Ice:BO:UD25/UD25SvcContract/UpdateExt" message="tns:UD25SvcContract_UpdateExt_InputMessage" />
      <wsdl:output wsaw:Action="Ice:BO:UD25/UD25SvcContract/UpdateExtResponse" message="tns:UD25SvcContract_UpdateExt_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:BO:UD25/UD25SvcContract/UpdateExtEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:UD25SvcContract_UpdateExt_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>