compile/Service References/Epicor.ReceiptsFromMfgSvc/ReceiptsFromMfg2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Erp:BO:ReceiptsFromMfg" elementFormDefault="qualified" targetNamespace="Erp:BO:ReceiptsFromMfg" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://erp10/ERPDEMO/Erp/BO/ReceiptsFromMfg.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Erp.Tablesets" />
  <xs:element name="NegativeInventoryTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pcPartNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pcWhseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pcBinNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pcLotNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pcPCID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pcDimCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pdDimConvFactor" type="xs:decimal" />
        <xs:element minOccurs="0" name="ipSellingQuantity" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NegativeInventoryTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pcNeqQtyAction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pcMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailTranDocTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailTranDocTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listAvailTranDocTypes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultTranDocTypeID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultTranDocTypeIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="defaultTranDocTypeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultWhseBin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultWhseBinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="defaultWhse" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="defaultWhseDesc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="defaultBinNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="defaultBinDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeDescList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fieldName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeDescListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCodeDescListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableSerialMatching">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q1:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableSerialMatchingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q2:ReceiptsFromMfgTableset" />
        <xs:element minOccurs="0" name="plEnable" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereClauseJobHead" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseJobAsmbl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="absolutePage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetListResult" nillable="true" type="q3:ReceiptsFromMfgJobAsmblTableset" />
        <xs:element minOccurs="0" name="morePages" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewJobAsmblMultiple">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q4:SelectedReceiptsJobAsmblTableset" />
        <xs:element minOccurs="0" name="pcTranType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pcProcessID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewJobAsmblMultipleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetNewJobAsmblMultipleResult" nillable="true" type="q5:ReceiptsFromMfgTableset" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q6:SelectedReceiptsJobAsmblTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewJobAsmblSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q7:SelectedReceiptsJobAsmblTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewJobAsmblSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q8:SelectedReceiptsJobAsmblTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewReceiptsFromMfg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pcTranType" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q9:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewReceiptsFromMfgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q10:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewReceiptsFromMfgJobAsm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pcJobNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="piAssemblySeq" type="xs:int" />
        <xs:element minOccurs="0" name="pcTranType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pcProcessID" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q11:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewReceiptsFromMfgJobAsmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q12:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewReceiptsFromMfgMtlQueue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pcMtlQueueRowIdent" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q13:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewReceiptsFromMfgMtlQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q14:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRows">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereClauseJobHead" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseJobAsmbl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="absolutePage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRowsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetRowsResult" nillable="true" type="q15:ReceiptsFromMfgJobAsmblTableset" />
        <xs:element minOccurs="0" name="morePages" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectSerialNumbersParams">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q16:ReceiptsFromMfgTableset" />
        <xs:element minOccurs="0" name="pcProcessID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectSerialNumbersParamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetSelectSerialNumbersParamsResult" nillable="true" type="q17:SelectSerialNumbersParamsTableset" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q18:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidAssembly">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pcJobNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="piAssemblySeq" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidAssemblyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="plFound" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeActTranQty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q19:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeActTranQtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q20:ReceiptsFromMfgTableset" />
        <xs:element minOccurs="0" name="pcMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeActTransUOM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pUOM" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q21:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeActTransUOMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q22:ReceiptsFromMfgTableset" />
        <xs:element minOccurs="0" name="pcMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeAssemblySeq">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q23:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeAssemblySeqResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q24:ReceiptsFromMfgTableset" />
        <xs:element minOccurs="0" name="pcMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeAssemblySeq2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q25:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeAssemblySeq2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q26:ReceiptsFromMfgTableset" />
        <xs:element minOccurs="0" name="pcMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeBinNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q27:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeBinNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q28:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeJobNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q29:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeJobNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q30:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeJobNum2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q31:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeJobNum2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q32:ReceiptsFromMfgTableset" />
        <xs:element minOccurs="0" name="pcMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeJobSeq2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q33:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeJobSeq2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q34:ReceiptsFromMfgTableset" />
        <xs:element minOccurs="0" name="pcMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeLotNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q35:ReceiptsFromMfgTableset" />
        <xs:element minOccurs="0" name="messageasked" type="xs:boolean" />
        <xs:element minOccurs="0" name="ProposedLotNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeLotNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q36:ReceiptsFromMfgTableset" />
        <xs:element minOccurs="0" name="pcMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errormsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeOverrideCost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q37:ReceiptsFromMfgTableset" />
        <xs:element minOccurs="0" name="ProposedOverride" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeOverrideCostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q38:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangePartNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q39:ReceiptsFromMfgTableset" />
        <xs:element minOccurs="0" name="ProposedPartNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipContinue" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangePartNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q40:ReceiptsFromMfgTableset" />
        <xs:element minOccurs="0" name="opMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangePlant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pcProcessID" nillable="true" type="xs:string" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q41:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangePlantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q42:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeWareHouseCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pcProcessID" nillable="true" type="xs:string" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q43:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeWareHouseCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q44:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeSalvageJobSeq">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q45:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeSalvageJobSeqResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q46:ReceiptsFromMfgTableset" />
        <xs:element minOccurs="0" name="pcMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeSalvagePartNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q47:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeSalvagePartNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q48:ReceiptsFromMfgTableset" />
        <xs:element minOccurs="0" name="pcMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeTranQty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q49:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeTranQtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q50:ReceiptsFromMfgTableset" />
        <xs:element minOccurs="0" name="pcMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q51:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q52:ReceiptsFromMfgTableset" />
        <xs:element minOccurs="0" name="requiresUserInput" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveMfgPartToInventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q53:ReceiptsFromMfgTableset" />
        <xs:element minOccurs="0" name="pdSerialNoQty" type="xs:decimal" />
        <xs:element minOccurs="0" name="plNegQtyAction" type="xs:boolean" />
        <xs:element minOccurs="0" name="pcProcessID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveMfgPartToInventoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q54:ReceiptsFromMfgTableset" />
        <xs:element minOccurs="0" name="pcMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pcPartTranPKs" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveMfgPartToJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q55:ReceiptsFromMfgTableset" />
        <xs:element minOccurs="0" name="pdSerialNoQty" type="xs:decimal" />
        <xs:element minOccurs="0" name="plNegQtyAction" type="xs:boolean" />
        <xs:element minOccurs="0" name="plIssuedComplete" type="xs:boolean" />
        <xs:element minOccurs="0" name="pcProcessID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveMfgPartToJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q56:ReceiptsFromMfgTableset" />
        <xs:element minOccurs="0" name="pcMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pcPartTranPKs" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveSalvagedPartToInventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q57:ReceiptsFromMfgTableset" />
        <xs:element minOccurs="0" name="pcProcessID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveSalvagedPartToInventoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q58:ReceiptsFromMfgTableset" />
        <xs:element minOccurs="0" name="pcMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pcPartTranPKs" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateSN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q59:ReceiptsFromMfgTableset" />
        <xs:element minOccurs="0" name="serialNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pcProcessID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateSNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q60:ReceiptsFromMfgTableset" />
        <xs:element minOccurs="0" name="isVoided" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifySerialMatchAndPlanContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q61:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifySerialMatchAndPlanContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q62:ReceiptsFromMfgTableset" />
        <xs:element minOccurs="0" name="pcMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="piMsgType" type="xs:int" />
        <xs:element minOccurs="0" name="pcPCBinAction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pcPCBinMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateWhsePCID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ToWhse" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateWhsePCIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateWhsePCIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateWhsePCIDAndGetDefaultBin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ToWhse" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateWhsePCIDAndGetDefaultBinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateWhsePCIDAndGetDefaultBinResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="defaultBinNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="defaultBinDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateWhseBinPCID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ToWhse" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ToBinNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateWhseBinPCIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateWhseBinPCIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidatePCID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pcid" nillable="true" type="xs:string" />
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q63:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidatePCIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidatePCIDResult" type="xs:boolean" />
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q64:ReceiptsFromMfgTableset" />
        <xs:element minOccurs="0" name="isJobClosed" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreProcessPCID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q65:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreProcessPCIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q66:ReceiptsFromMfgTableset" />
        <xs:element minOccurs="0" name="requiresUserInput" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessPCID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pcid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whse" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="binNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pcProcessID" nillable="true" type="xs:string" />
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q67:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessPCIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ProcessPCIDResult" nillable="true" type="q68:ReceiptsFromMfgTableset" />
        <xs:element minOccurs="0" name="pcMessage" nillable="true" type="xs:string" />
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q69:ReceiptsFromMfgTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPackageCodeAllocNegQty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipcalledFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipPackageCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipQty" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPackageCodeAllocNegQtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opWarning" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opAction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opAllocWarning" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opAllocAction" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>